.flex-container {
    display: flex;
}

ul{
    list-style: none;
}

.caja {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 40px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.c1 {
    flex-basis: 50%;
    height: 700px;
}

.c2 {
    flex-basis: 50%;
    height: 700px;
}

#form,
#sedes {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.nav-container {
    border: 1px solid #333;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav li {
    padding: 10px 20px;
    color: #333;
}

.nav li img {
    margin-right: 10px;
}


.formulario input,
select {
	width: 100%;
    margin: 5px;
	background: #fff;
	border: 1px solid black;
	border-radius: 2px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

#input_text{
    width: 100%;
    margin: 5px;
	background: #fff;
	border: 1px solid black;
	border-radius: 2px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}